.dropdown {
	position: relative;
}

.dropdown-title {
    color: var(--main-color);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-list {
	position: absolute;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 100%;
    right: 0;
    min-width: 100px;
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.2);
	display: none;
    border-radius: 5px;
}

.dropdown-list.show {
	display: block;
}

.dropdown-item {
    padding: 10px 15px;
    cursor: pointer;
}

.dropdown-item:hover {
	background-color: var(--main-color);
	color: #fff;
	font-weight: bold;
}