.bubbly-button {
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(251, 174, 23);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  border: 1px solid rgb(251, 174, 23);
}
  
.bubbly-button:focus {
  outline: 0;
}
 
.bubbly-button:active {
  transform: scale(0.9);
}

.bubbly-button:hover {
	background-color: #fff;
	color: rgb(251, 174, 23);
}

.link-wrapper {
	position: relative;
	white-space: nowrap;
}

.fake-link {
	opacity: 0;
	padding: 0px 10px;
}

.link {
	position: absolute;
	padding: 0px 10px;
	top: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(251, 174, 23);
  font-weight: normal;
}
.link:hover,
.link.active {
    font-weight: bold;
}