.header {
	background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 	padding: 5px 15px;
  z-index: 2;
  border-bottom: 2px solid rgb(78,199,238);
}

.header .link {
	color: rgb(78,199,238);
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  color: rgb(78,199,238);
}