.sidebar {
	background-color: #fff;
  	border-radius: 5px;
  	position: sticky;
  	top: 0;
    height: calc(100vh - 81px);
}

.sidebar-link {
	font-size: 20px;
}

.chef-title {
    font-size: 30px;
    font-weight: bold;
}