@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

button:focus {
  outline: none;
}

div:focus {
  outline: none;
}

.App {
  height: 100vh;
  overflow: hidden;
}

.logo-font {
  font-family: 'Amatic SC', cursive;
}

.h-100 {
  height: 100%;
}

.overflow-auto {
  overflow: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.landing-title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 6px;
  color: #fff;
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.card {
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
  border: 1px solid #cfcfcf;
  backdrop-filter: blur(5px);
  position: relative;
  border-radius: 5px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}