@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');*/

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

button:focus {
  outline: none;
}

div:focus {
  outline: none;
}

.App {
  height: 100vh;
  overflow: hidden;
}

.logo-font {
  font-family: 'Amatic SC', cursive;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-25 {
  width: 24%;
}

.overflow-auto {
  overflow: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.landing-title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.card {
  border: 5px solid rgb(78,199,238);
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(5px);
  position: relative;
  border-radius: 10px;
  padding: 15px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}